# Introdução a Python para Análise de Dados

# 7. Exercicios 

## Atenção! Não vale procurar a solução na internet. A ideia aqui é exercitar o pensamento algoritimíco, em que você traça uma solução baseada no que foi visto até o momento.

### 7.1 Crie e execute uma função que recebe um número qualquer e retorna a soma de todos os números de 1 até o número recebido. Ex: recebe 5 e retorna 1+2+3+4+5.

In [1]:
def funcao1(num):
    outnum = 0
    for i in range(num+1):
        outnum = outnum + i
    return outnum

funcao1(5)

15

### 7.2 Faça uma função que recebe dois números, base e expoente, calcula e mostra o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [2]:
def funcao2(base, expoente):
    if expoente == 1:
        return base 
    else:
        outnum = base * base
        for i in range(expoente-2):
            outnum = outnum * base
        return outnum

funcao2(3, 2)

9

In [3]:
def funcao2(base, expoente):
    if expoente == 1:
        return base 
    else:
        outnum = base * base
        #while
        for i in range(expoente-2):
            outnum = outnum * base
        return outnum

funcao2(3, 2)

9

7.3 Crie e execute uma função que mostra a sequência de Fibonacci até 20 termos. O número seguinte é encontrado a partir da soma dos dois números anteriores. Primeiros 10 termos da sequência de Fibonacci: 0  1  1  2  3  5  8  13  21  34.

In [4]:
def funcaoFibonacci(ate):
    n1 = 0
    n2 = 1 
    count = 0
    while count < ate:
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count = count + 1


funcaoFibonacci(20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

7.4 Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%. Faça uma função que calcula e retorna o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [5]:
def funcao4():
    
    paisA = 80000
    paisB = 200000
    anos = 0

    while paisA < paisB:
        paisA = paisA + paisA*0.030
        paisB = paisB + paisB*0.015
        anos += 1
    
    return anos


funcao4()

63

# Lista de dados em Python

In [6]:
lista_frutas = ['banana', 'maracujá', 'limão']
print(lista_frutas)

['banana', 'maracujá', 'limão']

In [7]:
lista_frutas[0]

'banana'

In [8]:
lista_frutas[-1]

'limão'

In [9]:
lista_frutas[1:3]

['maracujá', 'limão']

In [10]:
lista_frutas[1:2]

['maracujá']

In [11]:
lista_frutas[:]

['banana', 'maracujá', 'limão']

In [12]:
lista_frutas[:2]

['banana', 'maracujá']

In [13]:
# mudar valor da lista
lista_frutas[0] = 'mamão'
lista_frutas

['mamão', 'maracujá', 'limão']

In [14]:
# adicionar valor a lista
lista_frutas.append('abacaxi')
lista_frutas

['mamão', 'maracujá', 'limão', 'abacaxi']

In [15]:
exemplo = []
for i in range(len(lista_frutas)):
    exemplo.append(i)

exemplo

[0, 1, 2, 3]

In [16]:
# remove valor da lista
lista_frutas.remove("mamão")
lista_frutas

['maracujá', 'limão', 'abacaxi']

In [17]:
# loop em listas
for i in lista_frutas:
  print(i)

maracujá
limão
abacaxi

In [18]:
# loop em listas
for i in range(len(lista_frutas)):
  print(lista_frutas[i])

maracujá
limão
abacaxi

In [19]:
# list comprehension
lista_frutas2 =  [i for i in lista_frutas]
lista_frutas2

['maracujá', 'limão', 'abacaxi']

In [20]:
# list comprehension
lista_frutas2 =  [i + ' maduro' for i in lista_frutas]
lista_frutas2

['maracujá maduro', 'limão maduro', 'abacaxi maduro']

# Dicionário de Dados em Python

In [21]:
dict1 = {
  "marca": "Ford",
  "modelo": "Mustang",
  "ano": 1964
}

print(dict1)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964}

In [22]:
for i in dict1:
    print(i)

marca
modelo
ano

In [23]:
dict1["ano"]

1964

In [24]:
len(dict1)

3

In [25]:
dict1 = {
  "quantidade": [],
  "frutas": []
}
print(dict1)

{'quantidade': [], 'frutas': []}

In [26]:
dict1.keys()

dict_keys(['quantidade', 'frutas'])

In [27]:
dict1.values()

dict_values([[], []])

In [28]:
for x, y in dict1.items():
  print(x, y)

quantidade []
frutas []

In [29]:
dict1

{'quantidade': [], 'frutas': []}

In [30]:
dict1['quantidade'] = 10

# Pandas DataFrame

In [31]:
# importar pacote
import pandas as pd

In [32]:
lista_frutas

['maracujá', 'limão', 'abacaxi']

In [33]:
datalista = {
  'frutas': lista_frutas,
  'quantidade': [3, 7, 2]
}

In [34]:
datalista

{'frutas': ['maracujá', 'limão', 'abacaxi'], 'quantidade': [3, 7, 2]}

In [35]:
dataset = pd.DataFrame(datalista)

print(dataset)

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [36]:
datalista['frutas']

['maracujá', 'limão', 'abacaxi']

In [37]:
novas_frutas = ['banana', 'uva']
for i in novas_frutas:
    datalista['frutas'].append(i)

In [38]:
datalista

{'frutas': ['maracujá', 'limão', 'abacaxi', 'banana', 'uva'],
 'quantidade': [3, 7, 2]}

In [39]:
import numpy as np

for i in range(2):
    datalista['quantidade'].append(np.nan)

In [40]:
pd.DataFrame(datalista)

     frutas  quantidade
0  maracujá         3.0
1     limão         7.0
2   abacaxi         2.0
3    banana         NaN
4       uva         NaN

In [41]:
# salvar csv
dataset.to_csv('frutas.csv', index=False)

In [42]:
# ler csv
dataset = pd.read_csv('frutas.csv')
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [43]:
print(dataset.head(10))

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [44]:
# acessando informacao
dataset['frutas'][0]

'maracujá'

In [45]:
dataset['quantidade'][2]

2

In [46]:
dataset.frutas

0    maracujá
1       limão
2     abacaxi
Name: frutas, dtype: object

In [47]:
# operacoes condicionais
dataset = dataset[dataset.frutas != 'abacaxi']
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7

In [48]:
dataset[dataset.frutas == 'limão']

  frutas  quantidade
1  limão           7

In [49]:
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7

In [50]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   frutas      2 non-null      object
 1   quantidade  2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes
None

# Exercicios

### 1. Baixe o dataset [Acidentes de Trânsito no Recife](https://raw.githubusercontent.com/claudioalvesmonteiro/nice-data-repo/master/data/acidentes-transito-2016.csv) e crie um novo dataset apenas com casos COM VÍTIMA. Para baixar pasta cliclar com o botão esquerdo na página e salvar como .csv.

### 2. Com o mesmo dataset, crie um loop para contar quantos acidentes ocorreram no bairro BOA VIAGEM. 

### 3. Com o mesmo dataset, crie uma função que recebe como entrada o nome de um bairro e retorna a contagem de casos COM VÍTIMA que ocorreram no bairro.

### 4. Com o mesmo dataset, crie uma nova coluna que identifica para cada acidente se ele ocorreu em uma rua, avenida ou em outro tipo de local.