# Introdução a Python para Análise de Dados

# 7. Exercicios 

## Atenção! Não vale procurar a solução na internet. A ideia aqui é exercitar o pensamento algoritimíco, em que você traça uma solução baseada no que foi visto até o momento.

### 7.1 Crie e execute uma função que recebe um número qualquer e retorna a soma de todos os números de 1 até o número recebido. Ex: recebe 5 e retorna 1+2+3+4+5.

In [1]:
def funcao1(num):
    outnum = 0
    for i in range(num+1):
        outnum = outnum + i
    return outnum

funcao1(5)

15

### 7.2 Faça uma função que recebe dois números, base e expoente, calcula e mostra o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [2]:
def funcao2(base, expoente):
    if expoente == 1:
        return base 
    else:
        outnum = base * base
        for i in range(expoente-2):
            outnum = outnum * base
        return outnum

funcao2(3, 2)

9

In [3]:
def funcao2(base, expoente):
    if expoente == 1:
        return base 
    else:
        outnum = base * base
        #while
        for i in range(expoente-2):
            outnum = outnum * base
        return outnum

funcao2(3, 2)

9

7.3 Crie e execute uma função que mostra a sequência de Fibonacci até 20 termos. O número seguinte é encontrado a partir da soma dos dois números anteriores. Primeiros 10 termos da sequência de Fibonacci: 0  1  1  2  3  5  8  13  21  34.

In [4]:
def funcaoFibonacci(ate):
    n1 = 0
    n2 = 1 
    count = 0
    while count < ate:
        print(n1)
        nth = n1 + n2
        # update values
        n1 = n2
        n2 = nth
        count = count + 1


funcaoFibonacci(20)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

7.4 Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%. Faça uma função que calcula e retorna o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [2]:
def funcao4():
    
    paisA = 80000
    paisB = 200000
    anos = 0

    while paisA < paisB:
        paisA = paisA + paisA*0.030
        paisB = paisB + paisB*0.015
        anos += 1
    
    return anos


funcao4()

63

# Lista de dados em Python

In [3]:
lista_frutas = ['banana', 'maracujá', 'limão']
print(lista_frutas)

['banana', 'maracujá', 'limão']

In [4]:
lista_frutas[0]

'banana'

In [5]:
lista_frutas[-1]

'limão'

In [6]:
lista_frutas[1:3]

['maracujá', 'limão']

In [7]:
lista_frutas[1:2]

['maracujá']

In [8]:
lista_frutas[:]

['banana', 'maracujá', 'limão']

In [9]:
lista_frutas[:2]

['banana', 'maracujá']

In [10]:
# mudar valor da lista
lista_frutas[0] = 'mamão'
lista_frutas

['mamão', 'maracujá', 'limão']

In [11]:
# adicionar valor a lista
lista_frutas.append('abacaxi')
lista_frutas

['mamão', 'maracujá', 'limão', 'abacaxi']

In [12]:
exemplo = []
for i in range(len(lista_frutas)):
    exemplo.append(i)

exemplo

[0, 1, 2, 3]

In [13]:
# remove valor da lista
lista_frutas.remove("mamão")
lista_frutas

['maracujá', 'limão', 'abacaxi']

In [14]:
# loop em listas
for i in lista_frutas:
  print(i)

maracujá
limão
abacaxi

In [99]:
# loop em listas
for i in range(len(lista_frutas)):
  print(lista_frutas[i])

maracujá
limão
abacaxi
banana
uva

In [16]:
# list comprehension
lista_frutas2 =  [i for i in lista_frutas]
lista_frutas2

['maracujá', 'limão', 'abacaxi']

In [17]:
# list comprehension
lista_frutas2 =  [i + ' maduro' for i in lista_frutas]
lista_frutas2

['maracujá maduro', 'limão maduro', 'abacaxi maduro']

# Dicionário de Dados em Python

In [18]:
dict1 = {
  "marca": "Ford",
  "modelo": "Mustang",
  "ano": 1964
}

print(dict1)

{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 1964}

In [19]:
for i in dict1:
    print(i)

marca
modelo
ano

In [20]:
dict1["ano"]

1964

In [21]:
len(dict1)

3

In [27]:
dict1 = {
  "quantidade": [],
  "frutas": []
}
print(dict1)

{'quantidade': [], 'frutas': []}

In [28]:
dict1.keys()

dict_keys(['quantidade', 'frutas'])

In [29]:
dict1.values()

dict_values([[], []])

In [30]:
for x, y in dict1.items():
  print(x, y)

quantidade []
frutas []

In [31]:
dict1

{'quantidade': [], 'frutas': []}

In [32]:
dict1['quantidade'] = 10

# Pandas DataFrame

In [33]:
# importar pacote
import pandas as pd

In [34]:
lista_frutas

['maracujá', 'limão', 'abacaxi']

In [35]:
datalista = {
  'frutas': lista_frutas,
  'quantidade': [3, 7, 2]
}

In [36]:
datalista

{'frutas': ['maracujá', 'limão', 'abacaxi'], 'quantidade': [3, 7, 2]}

In [37]:
dataset = pd.DataFrame(datalista)

print(dataset)

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [38]:
datalista['frutas']

['maracujá', 'limão', 'abacaxi']

In [39]:
novas_frutas = ['banana', 'uva']
for i in novas_frutas:
    datalista['frutas'].append(i)

In [40]:
datalista

{'frutas': ['maracujá', 'limão', 'abacaxi', 'banana', 'uva'],
 'quantidade': [3, 7, 2]}

In [41]:
import numpy as np

for i in range(2):
    datalista['quantidade'].append(np.nan)

In [42]:
pd.DataFrame(datalista)

     frutas  quantidade
0  maracujá         3.0
1     limão         7.0
2   abacaxi         2.0
3    banana         NaN
4       uva         NaN

In [43]:
# salvar csv
dataset.to_csv('frutas.csv', index=False)

In [44]:
# ler csv
dataset = pd.read_csv('frutas.csv')
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [45]:
print(dataset.head(10))

     frutas  quantidade
0  maracujá           3
1     limão           7
2   abacaxi           2

In [46]:
# acessando informacao
dataset['frutas'][0]

'maracujá'

In [47]:
dataset['quantidade'][2]

2

In [48]:
dataset.frutas

0    maracujá
1       limão
2     abacaxi
Name: frutas, dtype: object

In [49]:
# operacoes condicionais
dataset = dataset[dataset.frutas != 'abacaxi']
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7

In [50]:
dataset[dataset.frutas == 'limão']

  frutas  quantidade
1  limão           7

In [51]:
dataset

     frutas  quantidade
0  maracujá           3
1     limão           7

In [52]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   frutas      2 non-null      object
 1   quantidade  2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 48.0+ bytes
None

# Exercicios

### 1. Baixe o dataset [Acidentes de Trânsito no Recife](https://raw.githubusercontent.com/claudioalvesmonteiro/nice-data-repo/master/data/acidentes-transito-2016.csv) e crie um novo dataset apenas com casos COM VÍTIMA. Para baixar basta cliclar com o botão esquerdo na página e salvar como .csv.

### 2. Com o mesmo dataset, crie um loop para contar quantos acidentes ocorreram no bairro BOA VIAGEM. 

### 3. Com o mesmo dataset, crie uma função que recebe como entrada o nome de um bairro e retorna a contagem de casos COM VÍTIMA que ocorreram no bairro.

### 4. Com o mesmo dataset, crie uma nova coluna que identifica para cada acidente se ele ocorreu em uma rua, avenida ou em outro tipo de local.

In [3]:
# Exercício 1

# Passo 1: ver dataset
import pandas as pd

df = pd.read_csv('acidentes-transito-2016.csv', sep=';') # Without sep=';' I was getting:
#ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2
df.head()

,tipo,situacao,data,hora,bairro,endereco,numero,complemento,natureza,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas
0,SEM VÍTIMA,FINALIZADA,2016-01-01,00:58,IPUTINGA,AV JORNALISTA POSSIDONIO CAVALCANTI BASTOS,NaN,PROX A PONTE DA SALVAÇAO,COLISÃO,COLISAO ENTRE UMA VIATUA E UM CAMINHAO S/V,01,N,N,N,N,N,1,N,N,0
1,SEM VÍTIMA,FINALIZADA,2016-01-01,01:23,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,NaN,"EM FRENTE AO SUPERMERCADO EXTRA,NO SEMAFORO 380",COLISÃO,COLISAO ENTRE DOIS AUTO S/V,2,N,N,N,N,N,N,N,N,0
2,SEM VÍTIMA,CANCELADA,2016-01-01,01:42,JORDÃO,RUA DR ALVARO FERRAZ,20,PROX A PRAÇA DO JORDAO DE BAIXO,COLISÃO,COLISAO ENTRE DOIS AUTO S/V,2,N,N,N,N,N,N,N,N,0
3,SEM VÍTIMA,FINALIZADA,2016-01-01,03:08,IBURA,AV JORNALISTA COSTA PORTO,1080,"PROX A ASSEMBLEIA DE DEUS, SENTIDO ALTO DOIS C...",COLISÃO,COLISAO ENTRE DOIS CARROS S/V,2,N,N,N,N,N,N,N,N,0
4,ENTRADA E SAÍDA,EM ABERTO,2016-01-01,05:22,IMBIRIBEIRA,AV LUXEMBURGO,356,APOS A ESCOLA BEATO EUGENIO,ENTRADA E SAÍDA,ART 181,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
#Passo 2: Filtrar banco e criar novo dataset só com casos "com vítima"

df1 = df[df.tipo == 'COM VÍTIMA']
df1.head()

,tipo,situacao,data,hora,bairro,endereco,numero,complemento,natureza,descricao,auto,moto,ciclom,ciclista,pedestre,onibus,caminhao,viatura,outros,vitimas
5,COM VÍTIMA,CANCELADA,2016-01-01,05:34,PAISSANDU,AV GOVERNADOR AGAMENON MAGALHAES,NaN,"EM FRENTE AO EDFICIO EMPRESARIAL ISACK NILTON,...",CHOQUE,"MOTO CHOCOU-SE CONTRA A CALÇADA, COM VITIMA",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
6,COM VÍTIMA,FINALIZADA,2016-01-01,07:26,CABANGA,AV SUL,NaN,NO SEMAFORO N260,COLISÃO,"COL.C/V,SET.CD",1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10,COM VÍTIMA,FINALIZADA,2016-01-01,08:35,BOA VIAGEM,AV ENGENHEIRO DOMINGOS FERREIRA,NaN,"SEMAFORO 142,CRUZAMENTO DA CLINICAL CENTER",COLISÃO,"COLISÃO COM VITIMA,AQUARDANDO SAMU",NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN,1
21,COM VÍTIMA,FINALIZADA,2016-01-01,18:30,JAQUEIRA,AV RUI BARBOSA,X,EM FRENTE AO PARQUE DA JAQUEIRA,COLISÃO,"COLISÃO ENTRE QUATRO AUTO, SEGUINTE DE UM CAPO...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
26,COM VÍTIMA,FINALIZADA,2016-01-01,23:09,BEBERIBE,AV BEBERIBE,4510,NO POSTO DE SAUDE DE BEBERIBE,ATROPELAMENTO,VEICULO SOBE CALÇADA E PEGA PEDESTRE QUEBRANDO...,1,NaN,NaN,NaN,1,NaN,NaN,6,NaN,1

In [38]:
# Exercício 2

# Check df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17798 entries, 0 to 17797
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tipo         17771 non-null  object
 1   situacao     17797 non-null  object
 2   data         17798 non-null  object
 3   hora         17788 non-null  object
 4   bairro       17691 non-null  object
 5   endereco     17627 non-null  object
 6   numero       7949 non-null   object
 7   complemento  17573 non-null  object
 8   natureza     17697 non-null  object
 9   descricao    17271 non-null  object
 10  auto         10900 non-null  object
 11  moto         2816 non-null   object
 12  ciclom       320 non-null    object
 13  ciclista     195 non-null    object
 14  pedestre     450 non-null    object
 15  onibus       1522 non-null   object
 16  caminhao     1128 non-null   object
 17  viatura      176 non-null    object
 18  outros       1968 non-null   object
 19  vitimas      15326 non-null  object
dtypes: object(20)
memory usage: 2.7+ MB

In [55]:
# Exercício 2 - Cont - TENTATIVA 1

# Loop para contar casos que ocorreram em Boa Viagem

count = 0 
for i in range(len(df.bairro)):
    if df.bairro[i] == 'BOA VIAGEM':
        count = count + 1 # também poderia ser 'count += 1' que é uma abreviação - o += soma o que tpa do lado direito

print(count)

2905

In [64]:
# Exercício 3 

# Definir função 

def funcao(nome_bairro):
    ''' Função que recebe como entrada o nome de um bairro e retorna a contagem de casos COM VÍTIMA que ocorreram no bairro.
    '''

    df1 = df[df.tipo == 'COM VÍTIMA']

    count = 0 
    for i in df1.bairro:
        if i == nome_bairro:
            count = count + 1
    return count

    #não precisa colocar range(len) porque não precisa acessar o index aqui, só ia deixar o código mais complexo
    #para usar o range, precisa por o (i)

In [66]:
# Executar função

funcao('BOA VIAGEM')

227

In [67]:
df.dropna(subset=['endereco'], inplace=True) #funcao que exclui na (dropna) da coluna endereco (subset) - 
#inplace=TRUE significa vai salvar no proprio banco

In [68]:
# Exercício 4

# Visualize df
df.head()

# Lista que identifica para cada acidente se ele ocorreu em uma rua, avenida ou em outro tipo de local.  

local_acidente = []
for end in df.endereco:
    if 'AV' in end: 
       novo_end = 'avenida' #atribui uma nova coluna que dá esse valor se for avenida
    elif 'RUA' in end:
        novo_end = 'rua'
    else:
        novo_end = 'outro'
    
    local_acidente.append(novo_end)

# Adicionar nova lista como coluna
df['local_acidente'] = local_acidente

In [69]:
df['local_acidente']

0        avenida
1        avenida
2            rua
3        avenida
4        avenida
          ...
17793    avenida
17794        rua
17795        rua
17796    avenida
17797    avenida
Name: local_acidente, Length: 17627, dtype: object